---
    layout: default
    permalink: /
---
        <article id="fh5co-board" data-columns>
            {% for post in site.posts %}
                <div class="item">
                    <div class="animate-box">
                        <a href="{{ site.url }}/assets/img/{{ post.image.feature }}" class="image-popup fh5co-board-img" title="{{ post.title }}">
                            <img src="{{ site.url }}/assets/img/{{ post.image.feature }}" alt="{{ post.title }}">
                        </a>
                    </div>

                    <div class="fh5co-desc">
                        {% if post.categories.size >=1 %}
                            {% for cat in post.categories  %}
                                <a class="text-muted font-weight-bold" href="{{ site.url }}/categories#{{ cat }}" title="{{ cat }}">
                                    #{{ cat }}
                                </a>
                            {% endfor %}
                        {% endif %}

                        <a class="text-capitalize font-weight-bold text-dark mb-2" href="{{site.url}}{{ post.url }}" title="{{post.title}}">
                            {{ post.title | link_to:post.url }}
                        </a>
                        <p>{% include post-info.html %}</p>
                    </div>
                </div>
            {% endfor %}
        </article>


    <!-- taille recommander d'image Largeur : 498px Hauteur : 750 px-->
