        <div class="social-line social-line-visible" data-buttons="3">
            <a href="https://twitter.com/flavien_hugs" class="btn btn-social btn-twitter" title="Twitter" target="_blank" rel="noopener noreferrer">
                <i class="fa fa-twitter"></i>
            </a>
            <a class="btn btn-social btn-facebook" href="https://www.facebook.com/flavien.hugs/" title="Facebook" target="_blank" rel="noopener noreferrer">
                <i class="fa fa-facebook"></i>
            </a>
            <a class="btn btn-social btn-github" href="https://github.com/flavien-hugs/" title="Github" target="_blank" rel="noopener noreferrer">
                <i class="fa fa-github"></i>
            </a>
        </div>
