        <div class="social-line social-line-visible" data-buttons="3">
            <a href="https://twitter.com/flavien_hugs" title="twitter" target="_blank" rel="noopener noreferrer">
                <button class="btn btn-social btn-twitter" title="Twitter">
                <i class="fa fa-twitter"></i>
                </button>
            </a>
            <a href="https://github.com/flavien-hugs/" title="Github" target="_blank" rel="noopener noreferrer">
                <button class="btn btn-social btn-github">
                <i class="fa fa-github"></i>
                </button>
            </a>
            <a href="https://www.facebook.com/flavien.hugs/" title="Facebook" target="_blank" rel="noopener noreferrer">
                <button class="btn btn-social btn-facebook">
                <i class="fa fa-facebook"></i>
                </button>
            </a>
        </div>
