
    <footer id="fh5co-footer">
        <div class="container">
            <div class="row row-padded">
                <div class="col-md-12 text-center">
                    <p class="fh5co-social-icons">
                        <a href="#"><i class="icon-twitter"></i></a>
                        <a href="#"><i class="icon-facebook"></i></a>
                        <a href="#"><i class="icon-instagram"></i></a>
                    </p>
                    <p><small class="font-weight-bold text-uppercase">&copy; {{site.time | date : '%Y'}} {{ site.title }}</small></p>
                </div>
            </div>
        </div>
    </footer>
