<footer class="footer footer-big footer-color-black" data-color="black">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-3">
                <div class="info">
                    <h5 class="title">Company</h5>
                    <nav>
                            <ul>
                                <li>
                                    <a href="{{ site.url }}">{{ site.title }}</a>
                                </li>

                                <li>
                                    <a href="{{ site.url }}/#">Mes Projets</a>
                                </li>
                                <li>
                                    <a href="{{ site.url }}/#">Portfolio</a>
                                </li>
                                <li>
                                    <a href="{{ site.url }}/about">A propos</a>
                                </li>
                            </ul>
                    </nav>
                </div>
            </div>

            <div class="col-md-3 col-md-offset-1 col-sm-3">
                    <div class="info">
                        <h5 class="title"> Aide et Support</h5>
                         <nav>
                            <ul>
                                <li>
                                    <a href="{{ site.url }}/contact">Contact</a>
                                </li>
                                <li>
                                    <a href="{{ site.url }}/#">How it works</a>
                                </li>
                                <li>
                                    <a href="{{ site.url }}/#">Terms &amp; Conditions</a>
                                </li>
                                <li>
                                    <a href="{{ site.url }}/#">Company Policy</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="info">
                        <h5 class="title">Tweets</h5>
                        <nav>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i> <b>Get Shit Done</b> The best kit in the market is here, just give it a try and let us...
                                        <hr class="hr-small">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i> We've just been featured on <b> Awwwards Website</b>! Thank you everybody for...
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-md-2 col-md-offset-1 col-sm-3">
                    <div class="info">
                        <h5 class="title">Suivez-moi sur</h5>
                        <nav>
                            <ul>
                                <li>
                                    <a href="https://twitter.com/flavien_hugs" target="_blank" rel="noopener noreferrer" title="Twitter" class="btn btn-social btn-twitter btn-simple">
                                        <i class="fa fa-twitter"></i> Twitter
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/flavien-hugs/" title="Github" target="_blank" rel="noopener noreferrer" class="btn btn-social btn-twitter btn-simple">
                                        <i class="fa fa-github"></i> Github
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/flavien.hugs/" title="Facebook" target="_blank" rel="noopener noreferrer" class="btn btn-social btn-facebook btn-simple">
                                        <i class="fa fa-facebook-square"></i> Facebook
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
        </div>

        <hr>

        <div class="copyright">
            <p>
                <a href="{{site.url }}">{{ site.title }}</a> {{site.time | date : '%Y'}}. Powered by <a href="http://jekyllrb.com/">Jekyll</a>
            </p>
        </div>
    </div>
</footer>
