{% if page.title %}
    {% capture title %} {{ page.title }} | {{ site.title }} {% endcapture%}
{% else %}
    {% capture title %} {{ site.title }} {% endcapture%}
{% endif %}

{% if page.excerpt %}
    {% capture description %}
        {{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}
    {% endcapture %}
  {% capture description %}{{ page.excerpt | strip_html | strip_newlines | truncate: 30 }}{% endcapture %}
{% else %}
  {% capture description %}{{ site.description }}{% endcapture %}
{% endif %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ site.keywords | array_to_sentence_string }}">
    <meta name="author" content="{{ site.author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

    <!-- Twitter Tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ title | escape }}">
    <meta name="twitter:description" content="{{ description | escape }}">

    <!-- Open Graph Tags -->
    <meta property="og:type" content="agenda">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    <meta property="og:title" content="{{ title | escape }}">
    <meta property="og:description" content="{{ description | escape }}">

    <title>{{ title }}</title>

    <!-- stylesheet -->
    <link rel="stylesheet" href="{{ site.url }}/assets/css/animate.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/icomoon.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/salvattore.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/style.css">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/ue-scroll.min.css">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}"/>
    {% seo %}
</head>
