        <small>
            <span class="fa fa-clock-o" aria-hidden="true">
                <time datetime=" {{ post.date | date_to_long_string}} ">
                    {% if post %}
                        {{ post.date | date_to_long_string }}
                    {% else %}
                        {{ page.date | date_to_long_string }}
                    {% endif %}
                </time>

                <time>
                    {% if post %}
                        {{ post.heure }}
                    {% else %}
                        {{ page.heure }}
                    {% endif %}
                </time>

                {% if post %}
                    {{ post.lieu }}
                {% else %}
                    {{ page.lieu }}
                {% endif %}
            </span>

            <br>

            <span>
                {% if post %}
                    {{ post.author }}
                {% else %}
                    {{ page.author }}
                {% endif %}
            </span>

            <span>
                {% assign words = page.content | number_of_words  %}
                {% if words %}
                    {{ words | plus: 250 | divided_by: 180 | append: " vue" }}
                {% else %}
                    {{ words | divided_by: 180 | append: " vues" }}
                {% endif %}
            </span>
        </small>


