        <small>
            <span class="glyphicon glyphicon-calendar" aria-hidden="true">
                <time datetime=" {{ post.date | date_to_long_string}} ">
                    {% if post %}
                    {{ post.date | date_to_long_string }}
                    {% else %}
                    {{ page.date | date_to_long_string }}
                    {% endif %}
                </time>
            </span>
            <br>

            <span class="fa fa-clock-o" aria-hidden="true">
                <time>
                    {% if post %}
                        {{ post.heure }}
                        {% else %}
                        {{ page.heure }}
                    {% endif %}
                </time>
            </span>

            <br>

            <span class="glyphicon glyphicon-map-marker" aria-hidden="true">
                {% if post %}
                    {{ post.lieu }}
                {% else %}
                    {{ page.lieu }}
                {% endif %}
            </span>
            <br>

            <span class="glyphicon glyphicon-user" aria-hidden="true">
                {% if post %}
                    {{ post.author }}
                {% else %}
                    {{ page.author }}
                {% endif %}
            </span>
            <br>
            <span class="fa fa-eye" aria-hidden="true">
                {% assign words = page.content | number_of_words  %}
                {% if words %}
                    vue {{ words | plus: 250 | divided_by: 180 | append: " fois" }}
                {% else %}
                    vues {{ words | divided_by: 180 | append: " fois" }}
                {% endif %}
            </span>
        </small>


