
        <!-- barre recherche -->
        <div class="row">
            <div class="hipster-containers d-flex justify-content-center">
                <div id="search-demo-container">
                    <div class="searchbar">
                        <input type="text" id="search" class="search_input" placeholder="Rechercher...">
                        <span class="search_icon"><i class="fa fa-search"></i></span>
                        <div class="card">
                            <div id="results-container" style="z-index: 10000; background-color:white;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

