
            <!-- barre recherche -->
            <div class="hipster-containers d-flex justify-content-center">
                <div id="search-demo-container">
                    <div class="searchbar search">
                        <label for="search-input"></label>
                        <input type="text" id="search-input" class="input" placeholder="Rechercher..." autocomplete="false">
                        <span class="icon"><i class="fa fa-search"></i></span>
                        <ol id="search-result-container" class="search-results-list"></ol>
                    </div>
                </div>
            </div>

