// Pagination styleSheet
// color
$text: #232427;

// transition
$global-transition : .35s;

.pagination {
    .pagination-list {
        display: flex;
        .older-posts, .previous-posts, .newer-posts {
            display: inline-block;
            flex-grow: 1;
            .older-link, .previous-link, .newer-link {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 25px;
                font-size: 18px;
                font-weight: bold;
                color:$text;
                transition: $global-transition;
                &:hover {
                    background: #aaa;
                }
            }
        }
        .older-link{
            span {margin-left: 5px;}
        }
        .previous-link, .newer-link {
            span { margin-right: 5px; }
        }
    }
    @media only screen and (min-width: 768px) {
        margin: 20px 0;
    }
}
