body {
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: 'Roboto Mono', monospace;
  font-family: 'Roboto', sans-serif;
}

.row- {
  margin-top: 20px;
}

.blog-post {
  margin-bottom: 30px;
}

h1 {
  font-size: 38px;
  small{
    color: #EEE;
  }
}

.section {
  padding: 50px 0;
}

/*Header*/

.header- {
  padding: 20px 0;
  background-color: white;
}

.header-border {
  border-top: 2px solid #337AB7;
}

.header-left {
  float: left;
}

.header-title {
  font-size: 22px;
  font-variant: small-caps;
  font-weight: 500;
}

.header-right {
  float: right;
  text-align: right;
  .header-ul {
    list-style: none;
    padding: 0;
    li {
      margin-left: 10px;
      display: inline-block;
      list-style: none;
      i {
        margin-right: 5px;
      }
    }
  }
  nav li {
    margin-right: 5px;
    padding-right: 10px;
    border-right: 1px solid #DDD;
  }
  nav li:last-child {
    margin-right: 0px;
    padding-right: 0;
    border: none;
  }
}

.strong {
  font-weight: bold;
  text-transform: uppercase;
  color: #737373;
  &:hover {
    transition: all 0.1s;
    border-bottom: 3px solid #337AB7;
  }
  &:hover, &:focus {
    color: #337AB7;
  }
}

.current {
  color: #337AB7;
  border-bottom: 3px solid #337AB7;
}

// footer

.footer- {
  background-color: #FFFFFF;
  line-height: 20px;
  border-top: 1px solid #DDDDDD;
  overflow: hidden;
}
.footer- nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
}
.footer- nav > ul a:not(.btn) {
  color: #777777;
  display: block;
  margin-bottom: 3px;
}
.footer- nav > ul a:not(.btn):hover, .footer- nav > ul a:not(.btn):focus {
  color: #777777;
}
.footer- .social-area {
  padding: 15px 0;
}
.footer- .social-area h5 {
  padding-bottom: 15px;
}
.footer- .social-area > a:not(.btn) {
  color: #777777;
  display: inline-block;
  vertical-align: top;
  padding: 10px 5px;
  font-size: 18px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
}
.footer- .social-area > a:not(.btn):hover, .footer- .social-area > a:not(.btn):focus {
  color: #777777;
}
.footer- .copyright {
  color: #777777;
  padding: 10px 15px;
  margin: 15px 3px;
  line-height: 20px;
  text-align: center;
}
.footer- hr {
  border-color: #DDDDDD;
}
.footer- .title {
  color: #777777;
}
.footer- .title {
  text-align: left;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
}
.footer- .btn-social {
  color: #9A9A9A;
}

.footer-:not(.footer-big) nav > ul {
  font-size: 16px;
}
.footer-:not(.footer-big) nav > ul li {
  margin-left: 20px;
  float: left;
}
.footer-:not(.footer-big) nav > ul a {
  padding: 10px 0px;
  margin: 15px 10px 15px 0px;
}

.footer-color-gray {
  background-color: #F5F5F5;
}

.footer-color-black,
.footer-transparent {
  background-color: rgba(30, 30, 30, 0.97);
  color: #DDDDDD;
}
.footer-color-black nav > ul a,
.footer-transparent nav > ul a {
  color: #FFFFFF;
}
.footer-color-black nav > ul a:hover, .footer-color-black nav > ul a:focus,
.footer-transparent nav > ul a:hover,
.footer-transparent nav > ul a:focus {
  color: #777777;
}
.footer-color-black .social-area > a:not(.btn),
.footer-transparent .social-area > a:not(.btn) {
  color: #FFFFFF;
}
.footer-color-black .social-area > a:not(.btn):hover, .footer-color-black .social-area > a:not(.btn):focus,
.footer-transparent .social-area > a:not(.btn):hover,
.footer-transparent .social-area > a:not(.btn):focus {
  color: #777777;
}
.footer-color-black .btn-social,
.footer-transparent .btn-social {
  color: #FFFFFF;
}
.footer-color-black hr,
.footer-transparent hr {
  border-color: #444444;
}
.footer-color-black .title,
.footer-transparent .title {
  color: #DDDDDD;
}

.footer-transparent {
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}
.footer-transparent .container {
  z-index: 2;
  position: relative;
}
.footer-transparent::after {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(17, 17, 17, 0.8);
  display: block;
  content: "";
  z-index: 1;
}

.footer-big {
  padding-top: 30px;
  hr {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

.footer-big .container > hr {
  margin-top: 50px;
}
.footer-big .copyright {
  margin: 10px 0px 20px;
}
.footer-big .social-area > * {
  margin: 0 15px;
}
.footer-big nav > ul {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
}
.footer-big nav > ul li {
  float: none;
}
.footer-big nav > ul .btn {
  margin-bottom: 5px;
}
.footer-big nav > ul .btn-social.btn-simple {
  padding: 0 0 4px 0;
}
.footer-big .form-group {
  margin-top: 15px;
}
.footer-big .numbers h4 {
  margin: 0 0 10px 0;
}

.footer-:not(.footer-big) nav > ul li:first-child {
  margin-left: 0;
}

.footer- nav.pull-left {
  float: none !important;
}
.footer-:not(.footer-big) nav > ul li {
  float: none;
}

@media (max-width: 767px) {
  .footer- .social-area.pull-right,
  .footer- nav.pull-left {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  /*Header*/
  .header-left, .header-right {
    float: none;
    text-align: center;
  }
  .header-right {
    display: block;
    width: auto;
  }
}
