<!DOCTYPE html>
<html lang="{{ page.language | default: site.language | default: "fr" }}">
    {% include header.html %}
    <body>
        {% include navigation.html %}

        <div id="fh5co-main">
            <div class="container">
                {{ content }}<!-- content page -->
            </div><!-- end container -->
        </div>

        {% include footer.html %}

        <div id="ue-scroll" class="ue-scroll btn-white arrow-black circle shadow"></div>
        <!-- ue-scroll -->

        {% include javascript.html %}
    </body>
</html>
