---
layout: default
---
    {% assign posts = site.posts | sort: 'date' | reverse %}
    {% for post in posts %}
        <section class="card-box col-md-4 col-sm-6">
            <div class="card">
                <div class="header">
                    {% if post.image.feature %}
                        <img class="img-responsive" src=
                            {% if post.image.feature  %}
                                "{{site.url}}/assets/img/{{post.image.feature}}"
                            {% endif %} alt="{{post.title | slugify}} feature image">
                            <!-- /.image content -->
                    {% endif %}

                    <h6 class="category">
                        {% if post.categories.size > 0 %}
                           {% for cat in post.categories %}
                                <span class="label label-danger">
                                    <a href="{{site.url}}/categories/#{{cat}}">
                                       <i class="glyphicon glyphicon-tags"></i>
                                       {{cat}}
                                    </a>
                                    {% unless forloop.last %}
                                        <span></span>
                                    {% endunless %}
                                </span>
                           {% endfor %}
                        {% endif %}
                    </h6> <!-- end content category -->

                    <div class="filter"></div>

                    <div class="actions">
                        <a href="{{site.url}}{{ post.url }}" title="{{post.title}}">
                            <button class="btn btn-round btn-fill btn-neutral btn-modern">
                                Lire l'article
                            </button>
                        </a>
                    </div>
                </div><!-- end card header-->

                <div class="content">
                    <h4 class="title">
                        <a href="{{site.url}}{{ post.url }}" title="{{post.title}}">
                            {{ post.title | link_to:post.url }}
                        </a>
                    </h4>
                    <hr>
                    <h5>Informations utiles</h5>
                    <p>{% include post-info.html %}</p>
                    <!-- end content title -->
                    <hr>
                    {% if post.excerpt %}
                        <p class="description">
                            {{ post.excerpt | truncatewords:20}}
                        </p>
                    {% endif %} <!-- end content article -->
                </div>
            </div> <!-- end card -->
        </section>
    {% endfor %}
