---
layout: default
---

<div class="col-md-12 blog-post" style="background-color:white;">
    <h4 class="title-modern" title="{{page.title}}">
        {{ page.title }} | <i class="glyphicon glyphicon-bookmark"></i>  <a href="{{site.url}}/categories/#{{cat}}">
            {{ page.categories | array_to_sentence_string }}
        </a> | <i class="glyphicon glyphicon-calendar"></i> {{ page.date | date: "%-d %b %Y"}}
    </h4><!-- /.post title-->

    <hr>

    <p class="description">
        {{ content }}
    </p><!-- /.post content-->
</div>


