---
    layout: page
---

    <article id="fh5co-board" class="col-md-8 col-sm-6 blog-post" style="background-color:white;">
        <h3 class="title" title="{{page.title}}">{{ page.title }} </h3>
            {% if page.categories.size >=1 %}
                {% for cat in page.categories  %}
                    <span class="label">
                        <a href="{{ site.url }}/categories#{{ cat }}" title="{{ cat }}">
                            <i class="glyphicon glyphicon-tags"></i>
                            {{ cat }}
                        </a>
                        {% unless forloop.last %}
                            <span></span>
                        {% endunless %}
                    </span>
                {% endfor %}
            {% endif %}

            {% include post-info.html %}
        <hr>

        <p class="description">
            {{ content }}
        </p><!-- /.post content-->
    </article>

    {% include sidebar.html %}


